<div class="container d-flex justify-content-center">
    <div class="row ">
        <div class="mb-1">
            <div class="mr-3">
                <app-basket-summary (decrement)="decrementItemQuantity($event)"
                    (increment)="incrementItemQuantity($event)" (remove)="removeBasketItem($event)">
                </app-basket-summary>
            </div>
            <div class="">
                <app-order-totals></app-order-totals>
                <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                    Proceed to checkout
                </a>
            </div>
        </div>

    </div>
</div>