<carousel>
    <slide>
        <img src="assets/images/nike1.gif" alt="slide 1" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/nike2.gif" alt="slide 2" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/nike3.gif" alt="slide 3" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Shop!</h1>
    </div>
</section>