<div
  class="d-flex  navbar-dark bg-dark flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 border-bottom shadow-sm fixed-top">
  <h1 class="text-light">Base.</h1>
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
    <a class="p-2 " [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a class="p-2 " routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="p-2 " routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-light"></i>
      <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
    </a>
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a routerLink="/account/login" class="btn btn-outline-secondary mr-2">Login</a>
      <a routerLink="/account/register" class="btn btn-outline-secondary mr-3">Sign up</a>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async">
      <div class=" text-success" style="cursor: pointer;" (click)="onClick()">
        <a style="cursor: pointer;">
          <strong>Hi, {{(currentUser$ | async).displayName}}! <i class="fa fa-chevron-down ml-1 border rounded-circle p-1 " style="font-size: 10px;"></i></strong>
        </a>
        <ng-container *ngIf="click">
          <div class="d-flex flex-column p-1 bg-dark dropdown-menu" style="position: absolute;left: 90%;top: 60px;">
            <a routerLink="/basket" class="mb-2" style="cursor: pointer;">
              <i class="fa fa-shopping-cart mr-3 "></i> View Basket
            </a>
            <a routerLink="/orders" class="mb-2" style="cursor: pointer;">
              <i class="fa fa-history mr-3"></i> View Orders
            </a>

            <a (click)="logout()" style="cursor: pointer;">
              <i class="fa fa-sign-out mr-3"></i> Logout
            </a>
          </div>


        </ng-container>


      </div>

    </ng-container>
  </div>

</div>